*{
    background-color: black;
    color: white;
    box-sizing: border-box;
    padding:0px;
    font-family: 'Roboto', sans-serif;
}
ul{
    list-style: none;
}

.disNone{
    display: none;
}
.rotate45{
    transform: translateY(5px) rotate(45deg);
}
.rotate-45{
    transform:  rotate(-45deg);
}

.topMost{
    height: 100vh;
    padding:20px 20px;
    background-image: url(../images/img.png);
    background-repeat: no-repeat, repeat;
    background-position: right bottom;
    background-size: 300px 300px;
}
.topnav{
    display: flex; 
    width: 94%;
    position: absolute;
    margin: auto;
    top: 40px;
    left: 3%;
}
.navCap{
    width: 40%;
}
.navCap a{
    text-decoration: none; 
    font-size: 24px; 
}
.navlinksForPhone{
    display: none;
}
.navlinksBox{
    width: 60%;
    display: flex; 
    justify-content: flex-end;
}
.navlinksBox div{
    padding: 5px 0px 1px 0px;
    background: linear-gradient(to bottom,yellow,red);
    margin: 0px 5px;
}
.navlinksBox div:hover{
    padding: 5px 1px 1px 1px;
}
.navlinksBox div:active{
    padding: 5px 1px 1px 1px;
}
.navlinksBox div a{
    text-decoration: none;
    padding: 4px;
}

/* navigation styles ends */
.topMostBody{
    padding-top: 10%;
    background-color: transparent;
}
.topMostBody h3{
  font-size: 72px;
  background: -webkit-linear-gradient(yellow,red);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.topMostBody h4{
    margin-top: -50px;
    background-color: transparent;
    font-weight: 100;
    letter-spacing: 1px;
}
/* about me section */
.aboutMeSection{
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 50px 0px;
    text-align: center;
}
.aboutMeSection h3{
    background: -webkit-linear-gradient(yellow,red);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px;
}
.aboutMeSection p{
    margin: auto;
    margin-bottom: 40px;
    padding: 10px;
    max-width: 80%;
    font-weight: 100;
    letter-spacing: 1px;
}

.portifolioSection{
    padding: 40px 20px;
}
.portifolioSection nav{
    margin: auto;
    display: flex; 
    width: 60%;
    margin: auto;
}
.portLinks{
    margin: 0px 5px;
    text-decoration: none;
    font-weight: 200;
    font-size: 16px;
}
.portLinks:hover{
    animation: scaleHover 1s 1 0s ease-in forwards;
}
.portifolios{
    margin: auto;
    margin-top: 40px;
    display: flex; 
    flex-wrap: wrap;
    max-width: 90%;
    align-content: space-around;
}
.portifolios div{
    width: 24%;
    margin-right: 1%;
    margin-bottom: 5px;
}
.portifolios div a img{
    max-width: 100%;
}
@keyframes scaleHover{
    0%{
        }
    90%{
        transform: scale(1.05);
        }
}
.portifolios div a img:hover{
    animation: scaleHover 1s 1 0s ease-in forwards;
}
/* client testmonials */
.testMSection{
    width: 90%;
    margin: 40px auto;
}
.testMSection h3{
    background: -webkit-linear-gradient(yellow,red);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: 40px;
}
.testMSection div{
    font-weight: 400;
    font-size: 14px;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}
.slider{
    display: flex; 
    
    width: 100%;
}
.slider img{
    border-radius: 50%;
    height: 60px;
}
.sliderBars{
    display: flex; 
    
    max-width: 5%;
    margin: auto;
}
.sliderBars div{
    height: 10px;
    width: 10px;
    background-image: linear-gradient(to bottom, yellow, red);
    margin-right: 2px;
    border-radius: 50%;
    cursor: pointer;
}

/* footer */
.footerSection{
    width: 100%;
    display: flex; 
    
    flex-direction: row;
    padding: 10px 5%;
    align-content: flex-end;
}
.FaboutSec{
    display: flex; 
    
    flex-direction: column;
    width: 40%;
    margin-right: 20%;
    font-size: 14px;
    font-family: 200;
}
.FskillSec{
    display: flex; 
    
    flex-direction: column;  
    width: 40%;   
}
.FskillSec ul li{
    display: flex; 
    
    align-items: center;
    height: 30px;
}
.FskillSec ul li h6{
    width: 20%;
    font-weight: 200;
}
.skillBar{
    min-height: 20px;
    width: 80%;
    background-color: red;
    opacity: 0.9;
    position: relative;
    margin-left: 10%;
}
.skillShow{
    min-height: 20px;
    max-width: 50%;
    background-color: yellow;
    opacity: 0.9;
}
.percent{
    position: absolute;
    background-color: transparent;
    font-size: 10px;
    font-weight: 600;
    color: black;
    top: 30%;
    left: 45%;
}

/* styles for contact us page */
.contactMainSec{
    display: flex; 
    
    width: 95%;
    margin: 200px auto 50px;
}
.contactMainSec div{
    width: 50%;
    text-transform: uppercase;
    font-weight: 200;
}
.contactLeftSec h3{
    font-weight: 200;
    margin-bottom: 40px;
}
.contactLeftSec p{
    text-transform: lowercase;
    font-size: 14px;
    letter-spacing: 0.8px;
    line-height: 18px;
    width: 90%;
    margin-bottom: 50px;
}
.contactLeftSec ul li{
    text-transform: lowercase;
    font-size: 14px;
    letter-spacing: 0.8px;
    line-height: 18px;
    margin-left: -5px;
}
.contactLeftSec ul li img{
    height: 15px;
    margin-right: 5px;
}
.contactRightSec h3{
    font-weight: 200;
    margin-bottom: 40px;
}
.form{
    width: 80%;
}
.formGroup{
    min-width: 80%;
    margin-bottom: 20px;
}
.formGroup2{
    display: flex; 
    
}
.myInput{
    width: 100%;
    border: 1px solid white;
    font-size: 12px;
    padding: 6px 4px;
    text-transform: uppercase;
}
.input2{
    width: 48%;
}
.formGroup2 :nth-child(1){
    margin-right: 4%;
}
.submitBtn:hover{
    background: -webkit-linear-gradient(yellow,red);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

/* blog styles */

.blogSection{
    margin: 200px auto;
    width: 95%;
    display: flex; 
}
.blogMainSection{
    width: 65%;
    margin-right: 5%;
}
.blogMainSection h3{
    text-transform: uppercase;
    font-weight: 100;
}
.blogs{
    display: flex; 
    flex-wrap: wrap;
    max-width: 100%;
    margin-top: 40px;
}
.singleBlog{
    width: 32%;
    margin-right: 1%;
    margin-bottom: 10px;
    position: relative;
}
.singleBlog h6{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
}
.singleBlog div{
    display: flex; 
    
    margin-top: -10px;
}
.singleBlog img{
    width: 100%;
    height: 230px;
}
#blogauthor, #blogdatepublished{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
}
.hoverableLink{
    min-height: 60%;
    min-width: 80%;
    margin: auto;
    background-color: #fff;
    position: absolute;
    top: 10%;
    left: 10%;
    border-radius: 10px;
    opacity: 0;
}
.hoverableLink span{
    position: absolute;
    top: 40%;
    left: 35%;
    background: transparent;
    color: black;
    cursor: pointer;
}
.hoverableLink:hover{
    opacity: 0.5;
}
.blogSideBar{
    width: 30%;
}
.blogSideBar h3{
    text-transform: uppercase;
    font-weight: 100;
}
.blogSideBar form{
    padding: 1px 1px 1px 1px;
    background: linear-gradient(to bottom,yellow,red);
    width: 80%;
    margin: 40px 0px;
}
.searchInput{
    font-size: 12px;
    text-transform: uppercase;
    padding: 4px;
    border-color: transparent;
    width: 100%;
} 
.blogSideBar .tags{
    display: flex; 
    flex-wrap: wrap;
    align-content: space-around;
}
.tags div{
    padding: 4px 0px 0px 0px;
    background: linear-gradient(to bottom,yellow,red);
    margin-right: 10px;
    border-radius: 10px;
}
.singleTag{
    text-decoration: none;
    border-radius: 10px;
    font-size: 14px;
    padding: 4px;
}
.singleTag:hover{
    color: lawngreen;
}

/* phone view */
@media screen and (max-width: 768px) {
    .navlinksBox{
        display: none;
    }
    .navlinksForPhone{
        display: flex; 
        flex-direction: column;
        margin-left: auto;
    }
    .navlinksForPhone div{
        height: 4px;
        width: 25px;
        background: white;
        margin-bottom: 2px;
    }
    .topMostBody h3{
        margin-top: 150px;
        font-size: 48px;
    }
    .portifolios div{
        width: 49%;
    }
    .portifolioSection nav{
        width: 80%;
        margin: auto;
        overflow-x: scroll;
    }
    .footerSection{
        flex-direction: column;
    }
    .FaboutSec{
        order: 1;
        width: 95%;
        margin:auto;
        text-align: center;
    }
    .FskillSec{
        order: 0;
        width: 95%;
        margin:auto;
        text-align: center;
    }
    /* styles for blog */
    .blogSection{
        flex-wrap: wrap;
    }
    .blogMainSection{
        width: 95%;
        margin: auto;
    }
    .singleBlog{
        width: 49%;
        margin-right: 1%;
    }
    .blogSideBar{
        width: 95%;
        margin: auto;
    }

    /* styles for contact us */
    .contactMainSec{
        flex-wrap: wrap;
    }
    .contactMainSec div{
        width: 95%;
        margin: auto;
    }
    .contactLeftSec{
        margin-bottom: 40px;;
    }
    .contactRightSec form{
        margin-left: -2%;
    }
    .myInput{
        margin-bottom: 20px;
    }
}