<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <nav class="topnav">
        <div class="navCap">
            <a href="">Sebastien</a>
        </div>
        <div class="navlinksBox">
            <div><a href="../index.html">Home</a></div>
            <div><a href="#projects">Projects</a></div>
            <div><a href="blog.html">Blog</a></div>
            <div><a href="contact.html">Contact me</a></div>
            <div><a id="signin">Sign in</a></div>
        </div>
        <div class="navlinksForPhone">
            <div class="navS1"></div>
            <div class="navS2"></div>
            <div class="navS3"></div>
        </div>
        <div class="navlinksForPhoneBox">
            <div class="navProfile">
                <div class="imgBox">
                    <img src="../images/seba.png" alt="">
                </div>
                <div class="textBox">
                    <h4>Sebastien</h4>
                    <h6>Full stack web developer</h6>
                    <p>Status: <span>Online</span></p>
                </div>
            </div>
            <hr>
            <div class="navNavigations">
                <h4 class="phoneNavH">Navigators</h4>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="contact.html">Contact me</a></li>
                    <div><a id="signin">Sign in</a></div>
                </ul>
            </div>
            <div class="navSocioIcons">
                <h4 class="phoneNavH">Know me</h4>
                <div class="socioIcons">
                    <img src="../images/linkdin.png" alt="">
                    <img src="../images/fb.png" alt="">
                    <img src="../images/insta.png" alt="">
                    <img src="../images/ytube.png" alt="">
                    <img src="../images/twitter.png" alt="">
                    <img src="../images/tsapp.png" alt="">
                    <img src="../images/skype.png" alt="">
                </div>
            </div>
            <div class="navFooter">
                <div>
                    <div class="imgH">
                        <img src="../images/location icon.png" alt="" srcset="">
                    </div>
                    <span>Kigali/Rwanda KG 316st</span>
                </div>
                <div>
                    <div class="imgH">
                        <img src="../images/phone.png" alt="" srcset="" style="margin-left: -6px;">
                    </div>
                    <span><a class="navFLinks" href="tel:+250788561691">+250 788451691</a></span>
                </div>
                <div>
                    <div class="imgH">
                        <img src="../images/phone.png" alt="" srcset="" style="margin-left: -6px;">
                    </div>
                    <span><a class="navFLinks" href="mailto:ndase15ba@gmail.com">ndase15ba@gmail.com</a></span>
                </div>
            </div>
        </div>
    </nav>
    <div class="loginModal">
        <div id="closer">
            <span id="closeL">X</span>
        </div>
        <div class="header">
            <h3>Sign in</h3>
        </div>
        <div class="body">
            <form >
                <input type="text" class="signInInputs">
                <input type="password" class="signInInputs">
                <div id="remForgBox">
                    <div id="rememberB">
                        <input type="checkbox" name="" id="" class="signInInputs">
                        <span>Rember me</span>
                    </div>
                    <div id="forgotB">
                        <a href="">Forgot password?</a>
                    </div>
                </div>
                <button type="submit" id="signInB">Sign in</button>
            </form>
        </div>
    </div>
    <main class="blogSection">
        <div class="blogMainSection">
            <h3>Top Readings</h3>
            <div class="blogsingle">
                <article>
                    <h1>Web Development</h1>
                    <div class="adDefRect" style="">
                    <div id="div-gpt-ad-1589302365809-0" style="">
                    <script>
                    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1589302365809-0'); });
                    </script>
                    <div id="google_ads_iframe_/1009901/tt_dra_2020_0__container__" style="border: 0pt none; width: 336px; height: 280px;"></div></div>
                    </div>
                    <p>Web development refers to building, creating, and an maintaining websites.  It includes aspects such as <a href="/definition/web_design">web design</a>, <a href="/definition/web_publishing">web publishing</a>, web programming, and <a href="/definition/database">database</a> management.</p>
                    <p>While the terms "web developer" and "web designer" are often used synonymously, they do not mean the same thing.  Technically, a web designer only designs website interfaces using <a href="/definition/html">HTML</a> and <a href="/definition/css">CSS</a>.  A web developer may be involved in designing a website, but may also write web <a href="/definition/script">scripts</a> in languages such as <a href="/definition/php">PHP</a> and <a href="/definition/asp">ASP</a>.  Additionally, a web developer may help maintain and update a database used by a <a href="/definition/dynamicwebsite">dynamic website</a>.</p>
                    <p>Web development includes many types of web content creation.  Some examples include hand coding web pages in a <a href="/definition/texteditor">text editor</a>, building a website in a program like Dreamweaver, and updating a <a href="/definition/blog">blog</a> via a blogging website.  In recent years, content management systems like WordPress, Drupal, and Joomla have also become popular means of web development.  These tools make it easy for anyone to create and edit their own website using a web-based <a href="/definition/interface">interface</a>.</p>
                    <p>While there are several methods of creating websites, there is often a trade-off between simplicity and customization.  Therefore, most large businesses do not use content management systems, but instead have a dedicated Web development team that designs and maintains the company's website(s).  Small organizations and individuals are more likely to choose a solution like WordPress that provides a basic website <a href="/definition/template">template</a> and simplified editing tools.</p>
                    <p><b>NOTE:</b> <a href="/definition/javascript">JavaScript</a> programming is a type of web development that is generally not considered part of web design.  However, a web designer may reference JavaScript libraries like jQuery to incorporate dynamic elements into a site's design.</p>
                    <div class="adBotLB">
                    <div id="div-gpt-ad-1589236206757-0" style="">
                    <script>
                    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1589236206757-0'); });
                    </script>
                    <div id="google_ads_iframe_/1009901/tt_dlb_2020_0__container__" style="border: 0pt none; width: 728px; height: 90px;"></div></div>
                    </div>
                    <p class="date floatRight">Updated: February 5, 2013</p>
                </article>
            </div>
        </div>
        <div class="blogSideBar">
            <h3>Search</h3>
            <form action="">
                <input type="text" name="" id="" placeholder="Search" class="searchInput">
            </form>
            <h3>Tags</h3>
            <div class="tags">
                <div><a href="" class="singleTag">Javascript</a></div>
                <div><a href="" class="singleTag">Web Dev</a></div>
                <div><a href="" class="singleTag">Hmtl 5</a></div>
            </div>
        </div>
    </main>
    <section class="footerSection">
        <div class="FaboutSec">
            <h3 class="footerHeader">About Me</h3>
            <p>
                am Web designer and developer enthusiast, proffessionalism and love of the outstanding project is what drive my 
                energy toward the work and what brings more happy client to me,
            </p>
        </div>
        <div class="quickLinks">
            <h3 class="footerHeader">Quik Links</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#project">Projects</a></li>
                <li><a href="pages/blog.html">Blog</a></li>
                <li><a href="pages/contact.html">Contact me</a></li>
            </ul>
        </div>
        <div class="FskillSec">
            <h3 class="footerHeader">Follow me</h3>
            <div class="socialLinks">
                <a href="" class="socialicon"><img src="../images/twitter.png" alt="" width="100%"></a>
                <a href="" class="socialicon"><img src="../images/fb.png" alt="" width="100%"></a>
                <a href="" class="socialicon"><img src="../images/insta.png" alt="" width="100%"></a>
                <a href="" class="socialicon"><img src="../images/linkdin.png" alt="" width="100%"></a>
                <a href="" class="socialicon"><img src="../images/tsapp.png" alt="" width="100%"></a>
                <a href="" class="socialicon"><img src="../images//skype.png" alt="" width="100%"></a>
            </div>
            <ul id="Fcontacts">
                <li><img src="images/location icon.png" alt=""> Kigali/Rwanda 316st</li>
                <li><img src="images/phone.png" alt=""> +250-788-451-691</li>
            </ul>
        </div>
    </section>
    <script src="../js/main.js"></script>
</body>
</html>