<section class="footerSection">
    <div class="FaboutSec">
        <h3 class="footerHeader">About Me</h3>
        <p>
            am Web designer and developer enthusiast, proffessionalism and love of the outstanding project is what drive my 
            energy toward the work and what brings more happy client to me,
        </p>
    </div>
    <div class="quickLinks">
        <h3 class="footerHeader">Quik Links</h3>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#project">Projects</a></li>
            <li><a href="pages/blog.html">Blog</a></li>
            <li><a href="pages/contact.html">Contact me</a></li>
        </ul>
    </div>
    <div class="FskillSec">
        <h3 class="footerHeader">Follow me</h3>
        <div class="socialLinks">
            <a href="https://twitter.com/NdagijimanaSeba" class="socialicon"><img src="images/twitter.png" alt="" width="100%"></a>
            <a href="https://web.facebook.com/ndagijimana.sebastien" class="socialicon"><img src="images/fb.png" alt="" width="100%"></a>
            <a href="https://www.instagram.com/sebz_250/" class="socialicon"><img src="images/insta.png" alt="" width="100%"></a>
            <a href="www.linkedin.com/in/ndagijimana-sebastien-7016a0154" class="socialicon"><img src="images/linkdin.png" alt="" width="100%"></a>
            <a href="https://wa.link/0caw88" class="socialicon"><img src="images/tsapp.png" alt="" width="100%"></a>
            <a href="" class="socialicon"><img src="images//skype.png" alt="" width="100%"></a>
        </div>
        <ul id="Fcontacts">
            <li><img src="images/location icon.png" alt=""> Kigali/Rwanda 316st</li>
            <li><img src="images/phone.png" alt=""> +250-788-451-691</li>
            <li>User Location</li>
            <li id="demo"></li>
        </ul>
    </div>
</section>