.mainDashboard{
    margin-top: 20vh;
    display: flex;
}
.mainDashboard aside{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.mainDashboard aside hr{
    width: 60%;
    margin-right: 40%;
    margin-bottom: 30px;
}
.links{
    margin-bottom: 10px;
    cursor: pointer;
}
.mainDashboard main{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}
.createTab{
    width: 80%;
    padding: 10px;
}
.modalHeader{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.modalHeader p{
    width: 90%;
}
.modalHeader span{
    width: 10%;
    cursor: pointer;
}
.allArt{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.oneArt{
    max-width: 40%;
    margin: 5%;
}
.oneArt p{
    max-width: 90% !important;
}
.oneArt footer{
    width: 100%;
    display: flex;
}
.artEdit{
    padding: 5px 8px;
    background-color:rgba(0, 0, 255, 0.938);
    color:white;
    text-decoration: none;
    width: 49%;
    margin-right: 2%;
    text-align: center;
} 
.artDel{
    padding: 5px 8px;
    background-color:rgba(189, 39, 39, 0.733);
    color:white;
    text-decoration: none;
    width: 49%;
    text-align: center;
} 
.contEdit{
    padding: 5px 8px;
    background-color:rgba(0, 0, 255, 0.938);
    color:white;
    text-decoration: none;
    width: 30%;
    margin-right: 2%;
    text-align: center;
    cursor: pointer;
} 
.contRead{
    padding: 5px 8px;
    background-color:rgba(87, 163, 56, 0.952);
    color:white;
    text-decoration: none;
    width: 30%;
    margin-right: 2%;
    text-align: center;
    cursor: pointer;
} 
.contDel{
    padding: 5px 8px;
    background-color:rgba(189, 39, 39, 0.733);
    color:white;
    text-decoration: none;
    width:30%;
    text-align: center;
    cursor: pointer;
} 
.createArt form{
    display: flex;
    flex-direction: column;
}
.formGroup{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.formGroup label{
    font-size: 18px;
    margin-bottom: 10px;
}
.formGroup input{
    font-size: 14px;
    line-height: 18px;
    padding: 15px;
    border: 0.5px solid white;
}
.formGroup textarea{
    font-size: 12px;
    border: 0.5px solid white;
    padding: 10px;
}
.subButton{
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid white;
} 
.subButton:hover{
    color: greenyellow;
    border: 1px solid greenyellow;
}
.successAlert{
    display: none;
    width: 100%;
    align-content: space-between;
    color: greenyellow;
}
/* tabs  styles     */

.mainTab {
    display: block;
}
.contactTa {
    display: none;
}
