<%- include('../partials/header.ejs'); %>
<body>
    <%- include('../partials/nav.ejs') %> 
    <div class="loginModal">
        <div id="closer">
            <span id="closeL">X</span>
        </div>
        <div class="header">
            <h3>Sign in</h3>
        </div>
        <div class="body">
            <form id="signInForm">
                <div class="errorBox disNone" id="unameErrorBox">
                    <p>Please Enter Password</p>
                    <span class="closer" onclick="this.parentNode.style.display='none'">X</span>
                </div>
                <input type="text" class="signInInputs" id="uname" placeholder="Username">
                <div class="errorBox disNone" id="passErrorBox">
                    <p>Please Enter Password</p>
                    <span class="closer" onclick="this.parentNode.style.display='none'">X</span>
                </div>
                <input type="password" class="signInInputs" id="pass" placeholder="password">
                <!-- <div id="remForgBox">
                    <div id="rememberB">
                        <input type="checkbox" name="" id="rem" class="signInInputs">
                        <span>Rember me</span>
                    </div>
                    <div id="forgotB">
                        <a href="">Forgot password?</a>
                    </div>
                </div> -->
                <button type="submit" id="signInB">Sign in</button>
            </form>
        </div>
    </div>
    <section class="mainDashboard">
        <aside>
            <h3>Dashboard</h3>
            <hr/>
            <!-- <a class="links" onclick="displayTab('mainTab')">All Posts</a> -->
            <a class="links" href="../blog.html">All Posts  <span>34</span></a>
            <a class="links" onclick="displayTab('createTab')">Create Article</a>
            <a class="links" onclick="displayTab('contactTab')">Contacts</a>
            <a class="links" onclick="displayTab('profileTab')">Profile</a>
            <a class="links" onclick="displayTab('reviewTab')">Reviews</a>
            <a class="links" onclick="displayTab('portTab')">Portifolio</a>
            <a class="links" onclick="displayTab('visitorTab')">visitors</a>
        </aside>
        <main class="">
            <div class="tab mainTab">
                <div class="modalHeader">
                    <h3>Unpublished Articles</h3>
                </div>
                <div class="allArt">
                    <!-- <div class="oneArt">
                        <h3>Title</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio laboriosam eum optio quaerat? Dignissimos cupiditate qui aliquam sapiente doloribus, ducimus explicabo, debitis recusandae iure dolore tenetur sit placeat velit quis.</p>
                        <footer>
                            <a href="" class="artEdit">Edit</a>
                            <a href="" class="artDel">Delete</a>
                        </footer>
                    </div>  -->
                </div>
            </div>
            <div class="tab profileTab">
                <div class="modalHeader">
                    <h3>User profile</h3>
                </div>
                <div class="allArt">
                    profile information, reminders                     
                </div>
            </div>
            <div class="tab contactTab">
                <div class="modalHeader">
                    <h3>All Messages</h3>
                </div>
                <div class="allArt allContacts">
                </div>
            </div>
            <div class="tab reviewTab">
                <div class="modalHeader">
                    <h3>All Review</h3>
                </div>
                <div class="allArt allContacts">
                    
                </div>
            </div>
            <div class="tab portTab">
                <div class="modalHeader">
                    <h3>All Portifolios</h3>
                </div>
                <div class="allArt allContacts">
                </div>
            </div>
            <div class="tab createTab">
                <div class="modalHeader">
                    <h3>Add an Articles</h3>
                </div>
                <div class="successAlert">
                    <p>Article added successfully</p>
                    <span onclick="this.parentNode.style.display='none'">X</span>
                </div>
                <div class="CreatArt">
                    <form action="" id="createF">
                        <div class="formGroup">
                            <label for="">Title</label>
                            <input type="text" name="" id="artTitle" placeholder="Add Title">
                        </div>
                        <div class="formGroup">
                            <label for="">body</label>
                            <textarea name="" id="artBody" cols="30" rows="10">
                            </textarea>
                        </div>
                        <button type="submit" class="subButton">Save Article</button>
                    </form>
                </div>
            </div>
            <div class="tab editTab">
                <header class="editHeader">
                    <p>Edit Article</p>
                    <span onclick="this.parentElement.parentElement.style.display='none'">X</span>
                </header>
                <form action="" id="editForm">
                    <div class="formGroupE">
                        <label for="">Title</label>
                        <input type="text" name="" id="artTitleE" placeholder="Add Title">
                    </div>
                    <div class="formGroupE">
                        <label for="">body</label>
                        <textarea name="" id="artBodyE" cols="30" rows="10"></textarea>
                    </div>
                    <button type="submit" class="subButtonE">Save Article</button>
                </form>
            </div>
            <div class="tab visitorTab">
                <header class="editHeader">
                    <p>visitor Article</p>
                </header>
                <div class="visitorBox">
                    <!-- <div class="visSingle">
                        <div class="body">
                            <p>Longitudes: 4884</p>
                            <p>Latitudes: 4884</p>
                        </div>
                        <div class="footer">
                            <button>Locate</button>
                        </div>
                    </div> -->
                </div>
            </div>
        </main>
    </section>    
    <div class="mapModal">
        <div id="mapholder"></div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-analytics.js"></script> 

    <script src="../../js/firebase.js"></script>
    <script src="../../js/admin.js"></script>
</body>
</html>